<%= render "shared/visitor-navbar" %>
<div class="yellowbackground">

  <div class="top-card-checkout">
    <div class="backtocat">
      <%= link_to restaurant_categories_path(@restaurant) do%>
        <i class="far fa-arrow-alt-circle-left arrow-left-order"></i>
      <% end %>
    </div>
  </div>

  <div class="checkout-card"><strong><h1>My Order</h1></strong></div>

  <div class="item-index-card">
    <% @current_session.items.distinct.each do |item| %>
     <%= render "shared/item_card", item: item %>
    <% end %>
  </div>
</div>

<div class="blank-card"></div>
<%= link_to(session_items_session_path(@current_session), method: :patch, class:"order-link") do %>
  <button class="order-button">Send Order | <%= @current_session.bill_total %> €</button>
<% end %>
