<div data-controller="item-quantity" data-url="<%= item_session_items_path(item) %>"  >
    <div class="item-card item-card-link" data-toggle='modal' data-target="#item-show-<%= item.id %>" >
      <%= cl_image_tag item.photo.key %>
      <div class="item-info">
        <p><%= item.name %></p>
        <div class="price-quantity">
          <strong data-item-quantity-target="price"><%= number_to_currency(item.price, locale: :es) %></strong>
          <div class="quant-buttons">
            <% if @current_session.session_items.where(item: item).any? %>
              <%= button_to session_item_path(item.session_items.last), method: :delete, remote: true, data: { action: "click->item-quantity#deleteSessionItem", "delete-url":  session_item_path(item.session_items.last) } do %>
                <%= image_tag "minus.svg" %>
              <% end %>
            <% else %>
              <%= button_to "", disabled: true do %>
                <%= image_tag "minus.svg" %>
              <% end %>
            <% end %>
            <div class="quantity" data-item-quantity-target="quantity">
              <%= item_quantity %>
            </div>
            <%= button_to item_session_items_path(item), remote: true, data: { action: "click->item-quantity#createSessionItem" } do %>
              <%= image_tag "plus.svg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%= render "shared/item-show-modal", item: item %>
</div>
