<div class="modal fade bd-example-modal-sm" id="item-show-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="item-card">
        <%= cl_image_tag item.photo.key %>
        <div class="item-info">
          <p><%= item.name %></p>
          <%= item.description %>
          <div class="price-quantity">
            <strong><%= number_to_currency(item.price, locale: :es) %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
