<nav class="navbar-side">
  <div class="nav-content">
    <%= link_to restaurant_dashboard_path(current_restaurant) do %>
      <%= image_tag "logo.svg", class:"navbar-logo-dashboard" %>
    <% end %>
    <%= link_to restaurant_overview_path(current_restaurant), class:"overview-button" do %>
      <%= image_tag "dinner-table.png", class:"navbar-logo-dashboard" %>
    <% end %>
    <div class="notifications">
      <%= image_tag "bell.png", class:"navbar-logo-dashboard" %>
    </div>
  </div>
</nav>
