<nav class="navbar navbar-light">
  <ul>
    <li class="nav-item">
      <%= link_to restaurant_path(current_restaurant) do %>
        <%= image_tag "logo.svg", class:"avatar" %>
      <% end %>
    </li>
    <li id="table-nav-item">
      <h6><%= image_tag "table.svg", id:"avatar-center" %> - No°<%= @current_session.table.number %></h6>
    </li>
    <li class="nav-item">
      <%= link_to session_items_path do %>
        <%= image_tag "order.svg", class:"avatar" %>
      <% end %>
    </li>
  </ul>
</nav>
