<%= render "shared/visitor-navbar" %>
<div class="yellow-background">
  <div class="rest-top-card">
    <h2><%= @restaurant.name %></h2>
    <%= image_tag "laesquinica.png", class: "avatar" %>
  </div>
  <div class="bottom-card">
    <%= render 'shared/carousel' %>
    <button class="menu-button">Go to menu</button>
    <p>Suggested Combos</p>
    <div class="combos">
    </div>
  </div>
  <div class = "socials">
    <div class = "d-flex justify-content-center socialcontent">
      <div>
        <%= link_to @restaurant.facebook_url do %>
        <i class="fab fa-facebook-f"></i>
        <% end %>
      </div>
      <div>
        <%= link_to @restaurant.instagram_url do %>
        <i class="fab fa-instagram"></i>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to @restaurant.tripadvisor_url do %>
      <p class="leavereview">Leave Review <i class="far fa-arrow-alt-circle-right"></i></p>
      <% end %>
    </div>
  </div>
</div>
