<%= render "shared/visitor-navbar" %>
<div class ="coverpicture">
  <img src="https://media.istockphoto.com/photos/directly-above-view-of-tapas-picture-id1224986732?b=1&k=20&m=1224986732&s=170667a&w=0&h=3LH33ccCkucCXBDrQ_ZuHoeWwmHdQIOi3VzCy-CEb8A="; class = "coverpicture">
</div>
<div class = "image_cropper avatarposition">
    <%=image_tag "laesquinica", class: "profile-pic", alt: "avatar"%>
</div>
<div class = welcometext >Welcome to La Esquinica!</div>
<div>
  <%= link_to "Menu", restaurant_categories_path(@restaurant), class: "btn btn-flat-menu justify-content-center center" %>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active highlightsize">
      <a href="">
      <img class="d-block w-10 margintop papassize" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/rvfr2kza5q1n3dymxitc8tdeq2jt">
    </div>
    <div class="carousel-item">
      <a href="">
      <img class="d-block w-100 margintop pulpo" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/tfa7tf0r6axzcxaloft0ln28qzfe" alt="Second slide">
    </div>
    <div class="carousel-item">
      <a href="">
      <img class="d-block w-100 margintop cheeseham" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/gimo93slqbk8kefj2ymmdwibts7i" alt="Third slide">
    </div>
    <div class="carousel-item">
      <a href="">
      <img class="d-block w-100 margintop" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/f8k27m6rb06jl5fupoqy1fmyj7uu" alt="Third slide">
    </div>
    <div class="carousel-item">
      <a href="">
      <img class="d-block w-100 margintop" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/m5b9sddx6edryy71z2pnn1fs6fs6" alt="Third slide">
    </div>
  </div>
</div>

<div>
  <%= link_to "Request Bill", table_session_path(@current_session.table, @current_session, { done: true }), method: :patch, class: "btn btn-flat-request justify-content-center center" %>
</div>

<div class = "socials">
  <div class = "d-flex justify-content-center socialcontent">
    <div>
      <%= link_to @restaurant.facebook_url do %>
      <i class="fab fa-facebook-f"></i>
      <% end %>
    </div>
    <div>
      <%= link_to @restaurant.instagram_url do %>
      <i class="fab fa-instagram"></i>
      <% end %>
    </div>
  </div>
    <div>
      <%= link_to "Leave Review!", @restaurant.tripadvisor_url, class: "leavereview", class: "far fa-arrow-alt-circle-right" %>
      <!-- <i class="fas fa-arrow-right"></i> do we need an arrow? -->
  </div>
</div>
