<%= render "shared/visitor-navbar" %>
<div class="yellow-background">
  <div class="rest-top-card">
    <h2><%= @restaurant.name %></h2>
    <%= image_tag "laesquinica.png", class: "avatar" %>
  </div>
  <div class="bottom-card">
    <%= render 'shared/carousel' %>
    <%= link_to restaurant_categories_path(@restaurant) do %>
      <button class="menu-button">Go to menu</button>
    <% end %>
    <h4>Suggested Combos</h4>
    <div class="combos">
      <div class="combo-card"></div>
        <img class="pulpo" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/tfa7tf0r6axzcxaloft0ln28qzfe">
        <p>Fried Calamari</p>
      </div>
      <p><i class="fas fa-plus"></i></p>
      <div class="combo-card"></div>
        <img class="pulpo" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/tfa7tf0r6axzcxaloft0ln28qzfe">
        <p>Fried Calamari</p>
      </div>
      <p><i class="fas fa-plus"></i></p>
      <div class="combo-card"></div>
        <img class="pulpo" src="http://res.cloudinary.com/dwonn5etb/image/upload/v1/development/tfa7tf0r6axzcxaloft0ln28qzfe">
        <p>Fried Calamari</p>
      </div>
    </div>
  </div>
  <div class = "socials">
    <div class = "d-flex justify-content-center socialcontent">
      <div>
        <%= link_to @restaurant.facebook_url do %>
        <i class="fab fa-facebook-f"></i>
        <% end %>
      </div>
      <div>
        <%= link_to @restaurant.instagram_url do %>
        <i class="fab fa-instagram"></i>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to @restaurant.tripadvisor_url do %>
      <p class="leavereview">Leave Review <i class="far fa-arrow-alt-circle-right"></i></p>
      <% end %>
    </div>
  </div>
</div>
