<%= render "shared/visitor-navbar" %>
<div class = "yellow-background">
  <div class="top-card">
    <div class = "back-to-cat">
      <%= link_to restaurant_categories_path(@category.restaurant) do %>
        <i class="far fa-arrow-alt-circle-left arrow-left"></i>
      <% end %>
      <h1 class = back-to-cat-text ><%= @category.name %></h1>
    </div>
    <div class="center cat-img-size">
      <%= cl_image_tag @category.photo.key %>
    </div>
  </div>
  <div class="item-index-card">
    <% @items.each do |item| %>
      <div class="item-card">
        <div class="item-img">
          <%= cl_image_tag item.photo.key %>
        </div>
        <div class="item-info">
          <p><%= item.name %></p>
          <div class="price-quantity">
            <strong><%= item.price %> €</strong>
            <div class="quant-buttons">
              <% if item.session_items.any? %>
                <%= button_to session_item_path(item.session_items.last), method: :delete do %>
                  <%= image_tag "minus.svg" %>
                <% end %>
              <% end %>
              <div id="quantity"><%= @session_items_per_item[item.id] %></div>
              <%= button_to item_session_items_path(item) do %>
                <%= image_tag "plus.svg" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to session_items_path, class:"order-link" do %>
      <button class="order-button">To my order</button>
    <% end %>
  </div>
</div>
