<%= render "shared/visitor-navbar" %>
<div class = "yellow-background">
  <div class="top-card">
    <div class = "back-to-cat">
      <%= link_to restaurant_categories_path(@category.restaurant) do %>
        <i class="far fa-arrow-alt-circle-left arrow-left"></i>
      <% end %>
      <h1 class = back-to-cat-text ><%= @category.name %></h1>
    </div>
    <div class="center cat-img-size">
      <%= cl_image_tag @category.photo.key %>
    </div>
  </div>
  <div class="bottom-card">
    <% @items.each do |item| %>
      <%= render "shared/item_card", item: item %>
    <% end %>
    <div class="blank-card"></div>
    <%= link_to session_items_path, class:"order-link" do %>
      <button class="order-button">To my order | <%= @current_session.bill_total %>€</button>
    <% end %>
  </div>
</div>
