<div class="top-card">
  <h1><%= @category.name %></h1>
  <div>
  <%= image_tag "patatas.png" %>
  </div>
</div>
<div class="item-index-card">
  <% @items.each do |item| %>
    <div class="item-card">
      <div class="item-img">
        <%= image_tag "rose.png" %>
      </div>
      <div class="item-info">
        <div><%= item.name %></div>
        <div>
          <%= item.price %>
          <% if item.session_items.any? %>
            <%= button_to session_item_path(item.session_items.last), method: :delete do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          <% end %>
          <%= @session_items_per_item[item.id] %>
          <%= button_to item_session_items_path(item) do %>
            <i class="fas fa-plus-circle"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to session_items_path do %>
    <button class="order-button">To my order</button>
  <% end %>
</div>
