<div class="form-group">
  <%= simple_form_for current_restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :instagram_url %>
    <%= f.input :facebook_url %>
    <%= f.input :tripadvisor_url %>
    <%= f.input :logo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
