<div class="dashboard-overview-container">
  <%= render "shared/restaurant-navbar" %>
  <div class = "overview-body">
    <h1>Table Orders</h1>
    <div class="table-overview-plan">
      <%= image_tag "tableplan.png" %>
    </div>
  </div>
  <div class="active-orders-column">
    <div class="active-orders-card">
      <h2>Order #<%= @session.id %></h2>
      <p>Table number: <%= @session.table.number %></p>
      <p> <%= @session.updated_at.strftime('%D -%r') %> </p>
      <ul class="list-unstyled">
        <% @session.distinct_items.each do |item| %>
          <% items_count = @session.items_count %>
          <li>
            <% quantity = items_count[item.name] %>
            <p><%= quantity %>x <%= item.name %> </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# comment by Sasha: we have a little problem here with the display of quantity.. work in progress %>
