<%= render "shared/visitor-navbar" %>
<div class = "back-button">
  <%= link_to restaurant_path(@restaurant) do %>
    <i class="far fa-arrow-alt-circle-left arrow-left"></i>
  <% end %>
</div>
<div class="category-cards">
    <% @categories.each do |category| %>
      <%= link_to category_items_path(category), class: "category-card-link" do %>
        <div class="category-card">
          <div>
            <h1><%= category.name %></h1>
          </div>
          <% if category.photo.attached? %>
            <%= cl_image_tag category.photo.key %>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
